%h1 Контакты
%p
  %span.line
    %b Электронная почта:
    %a{:href => "mailto: v_mail@bk.ru"}v_mail@bk.ru
%p
  %span.line
    %b Хабрахабр:
    %a{:href => "http://winnie.habrahabr.ru"}winnie.habrahabr.ru
%p
  %span.line
    %b Github:
    %a{:href => "https://github.com/nettsundere"}github.com/nettsundere
%p
  %span.line
    %b Skype &mdash;
    nettsundere
%p
  %span.line
    %b МойКруг:
    %a{:href => "http://nettsundere.moikrug.ru"}nettsundere.moikrug.ru
