%h1 Резюме
%h2 ФИО 
%p
  %span.line Киселёв Владимир Васильевич (1989 г.р.)
%h2 Образование
%p
  %span.line#university Высшее. Диплом ИМИТ СПбГПУ 
  %span.line (2006&mdash;2011, Россия, Вологодская область, г.Череповец)
%h2 Специализация
%p
  %span.line Интернет. Веб-разработка. Веб-программирование.
  %span.line Ruby, Ruby on Rails, RSpec
%h2 Технологии
%h3 Наиболее близки
%p 
  %div.line 
    %b Языки программирования:
    Ruby (1.8, 1.9), .NET (C# 3.5, 4), PHP (4, 5), JavaScript (в т.ч. с JQuery)
%p
  %div.line 
    %b Разметка:
    XAML, XML, XSLT, XHTML, HTML, HTML5, CSS, HAML, SCSS
%p
  %span.line 
    %b Хранилища данных:
    MySQL, Redis, Memcached
%p
  %span.line
    %b Технологии разработки:
    BDD (RSpec && Shoulda Ruby), TDD (NUnit, C#)
%p
  %span.line
    %b Фреймворки:
    Ruby on Rails и Sinatra
%p
  %span.line
    %b Системы контроля версий:
    GIT
%p
  %span.line
    %b Операционные системы:
    Ubuntu, Debian
    
%h3 Используемые редко
%p
  %span.line 
    %b Языки программирования: 
    С++, Delphi, Lisp, F#
%p
  %span.line 
    %b Хранилища данных:
    PostgreSQL, Microsoft SQL Server, Access
%p
  %span.line
    %b Системы контроля версий:
    SVN
%p
  %span.line
    %b Операционные системы:
    Windows
%h2 Опыт работы
%p
  %span.line Множество закрытых проектов во время 
  %span.line обучения в ВУЗе в качестве практики. 
%p 
  %span.line Разработка модуля для программного комплекса (Январь 2011 — Июль 2011,
  %span.line в институте &mdash; дипломный проект). Без оформления по ТК.  
  %span.line 
    %b Использовались:
    C# 4, WPF, GIT, Redmine. 
%h2 Достижения, тесты
%p
  %span.line 
    Top 20% по результатам теста на знание html на 
    %a{:href => "http://odesk.com"}odesk.com.
  %span.line Лучше, чем 89% сдавших тест (более 40 тысяч человек). 31 из 40 минут.
  

