%h1 Сниму однокомнатную квартиру в Череповце
%p 
  %span.line Привет! Я ищу однокомнатную квартиру в Череповце.
%p
  %span.line Всю жизнь в нашем городе я прожил в районе с неправильной стороны реки, 
  %span.line а теперь очень хочу переехать на другую.
  %span.line 
    Я бы очень хотел жить где-нибудь в 
    %b
      Зашекснинском районе.
    Или где-нибудь рядом.
  %span.line Готов платить 10000 рублей и ещё за свет. 
  %span.line И за месяц вперёд, конечно же.
%p
  %span.line Квартира мне нужна на год, примерно.
%p
  %span.line На любом этаже выше первого.
%p
  %span.line Соседям жить не мешаю, собаки и шумных друзей у меня нет.
%p
  %span.line
    Мне 
    %b нужен интернет
    в квартире. Но это не проблема.
  %span.line Его можно подключить и я согласен оплачивать его отдельной строкой.
%p
  %span.line Если Вы сдаёте квартиру, и она похожа на ту, что я ищу,
  %span.line 
    то я буду рад:
    %ul
      %li 
        письму на 
        %a{:href => "mailto:v_mail@bk.ru"}v_mail@bk.ru;
      %li звонку или письму в скайп: мой аккаунт там &mdash; nettsundere
      %li
        звонку или SMS на номер 
        %b +7 909 597 93 45
%p
  %span.line
    Спасибо!
