%h1 Кратко
%p
  Меня зовут Киселёв Владимир, я программист из 
  %a{:href=>"http://ru.wikipedia.org/wiki/Череповец"}Череповца.
%p
  Мне 22 года, я 
  %a{:href=>"резюме#university"}получил высшее в филиале Питерского политеха
  по специальности 
  %b 230105, ПОВТиАС
%p
  %span.line
    Я написал много 
    %b программ
    ,
    %b тестов (TDD в .NET и BDD в Ruby), 
  %span.line 
    создал много 
    %b интерфейсов (как для интернета, так и для программ),
  %span.line 
    поднимал 
    %b debian 
    в облаках,
  %span.line реализовал не один неустановленный модуль для виртуального хостинга на php,
  %span.line работал с mysql в условиях страшной экономии ресурсов.
%p
  %span.line
    Свои первые сайты я сверстал во времена IE 5.5 и Netscape.
%p
  %span.line 
    Теперь я ищу 
    %b удаленную работу, 
  %span.line 
    что была бы связана с 
    %b веб-разработкой на Ruby (Ruby on Rails), haml, scss и т.д.
  %span.line с использованием сопутствующего стека технологий.
  %span.line 
    Меня интересует только 
    %b работа по ТК.
