%h1 Кратко
%p
  Меня зовут Киселёв Владимир, я программист из 
  %a{:href=>"http://ru.wikipedia.org/wiki/Череповец"}Череповца.
%p
  Мне 23 года, я 
  %a{:href=>"резюме#university"}получил высшее в филиале Питерского политеха
  по специальности 
  %b 230105, ПОВТиАС.
%p
  %span.line
    Занимаюсь веб-программированием.
%p
  %span.line
    Перестал забивать гвозди микроскопом.
