%h1 Работы
%p
  %span.line Показать:
  %span.line.ajax_menu
    %a{:href => "#all", :id => "all"}все,
    %a{:href => "#oss", :id => "oss"}только с открытым кодом,
    %a{:href => "#not_oss", :id => "not_oss"}описание некоторых проектов с закрытым кодом.
%ol#works
  %li
    %h2 Веб, Интернет
    %ul
      %li.not_oss
        %h3 Поиск анкет
        %p 
          %span.line Веб-приложение для поиска анкет с возможностью регистрации, администрирования (captcha, пароли, данные), 
          %span.line поиска по некоторому набору параметров (не обязательно по всем).
        %p
          %span.line PHP5, MySQL. Виртуальный хостинг.
      %li.not_oss
        %h3 Слежение
        %p
          %span.line Веб-приложение для изучения направления движения пользователей 
          %span.line и поисковых роботов по сайту
          %span.line с группировкой пользователей по их географическому положению.
          %span.line Существует возможность фильтрации по дням и типу действий.
        %p
          %span.line PHP4 для сборщика, PHP5 для панели администратора, MySQL. Виртуальный хостинг.
      %li.not_oss
        %h3 Мониторинг
        %p
          %span.line Мониторинг качества работы источников видео на 
          %b Silverlight,
          %span.line различные 
          %b WCF API 
          для мониторинга (
          %b>C#, F# на сервере
          ).
      %li.oss
        %h3 Гем (gem) &laquo;configured&raquo; для конфирурирования Redis.
        %p
          %span.line Гем (gem) для Ruby-приложений, подключающихся к
          %a{:href => "http://ru.wikipedia.org/wiki/Redis"}Redis,
          %span.line используя который у программиста появляется возможность использовать конфигурационный
          %span.line 
            файл 
            %b database.yml
            (или любой другой) для указания конфигурации Redis для подключения.
          %span.line Появляется возможность указать разные конфигурации 
          %span.line для различных значений переменной RAILS_ENV. Таким образом, код подключения
          %span.line к Redis остаётся одним и тем же для различных режимов разработки (development, production и т.д.).
          %span.line Не зависисит от Rails или любого иного фреймворка.
        %p
          %span.line Ruby, RSpec. Выпущено по лицензии MIT.
        %p
          %a{:href => "https://github.com/nettsundere/configured"}<
            Исходный код &laquo;configured&raquo;
          и
          %a{:href => "https://github.com/nettsundere/configured/wiki/configured-example"}
            пример использования.
      %li.oss
        %h3 Сайт &laquo;Нататайм&raquo;
        %p
          %span.line 
            Сайт
            %a{:href => "http://natatime.ru"}natatime.ru,
            что сочиняет стихи. В основе - ядро, обращающееся к хранилищу данных за случайными словами
          %span.line и формирующее их в строчки стихотворения определенным образом.
          %span.line 
            В качестве хранилища данных используется 
            %a{:href => "http://ru.wikipedia.org/wiki/Redis"}Redis.
        .slides
          .slide
            %img{:src => "/img/natatime/natatime.png", :alt => "Сайт natatime.ru"}
            %p
              %span.line
                Сайт
                %a{:href => "http://natatime.ru"}natatime.ru
        %p
          %span.line Ruby, RSpec, Sinatra, JavaScript. Ядро выпущено по лицензии MIT.
          %span.line На стороне сервера &mdash; VDS, Debian, NGINX и Unicorn.
          %span.line Для публикации сайта используется Capistrano.
        %p
          %a{:href => "https://github.com/nettsundere/natatime"}
            Исходный код ядра сайта natatime.ru
      %li.oss
        %h3 Этот сайт
        %p
          %span.line Этот сайт не миновала участь публикации.
          %span.line Он практически полностью статичен.
          %span.line Сайт создан за день.
        %p
          %span.line Ruby, RSpec, Sinatra, JavaScript.
          %span.line На стороне сервера &mdash; VDS, Debian, NGINX и Unicorn.
          %span.line Для публикации сайта используется Capistrano.
        %p
          %a{:href => "https://github.com/nettsundere/nettsundere_web"}
            Исходный код данного сайта
      %li.oss
        %h3 Плагин &laquo;redmine_karma_police&raquo; для Redmine
        %p
          %span.line Плагин-дополнение для 
          %a{:href => "http://ru.wikipedia.org/wiki/Redmine"}системы управления проектами Redmine,
          %span.line что добавляет возможность некоторым пользователям
          %span.line с разрешения администратора
          %span.line голосовать и (или) видеть распределение голосов по карме пользователей.
        .slides
          .slide
            %img{:src => "/img/redmine_karma_police/1.png", :alt => "Новый пункт меню"}
            %p
              %span.line Новый пункт меню &laquo;Карма&raquo; в меню приложения.
          .slide
            %img{:src => "/img/redmine_karma_police/2.png", :alt => "Новые настройки прав"}
            %p
              %span.line Новые настройки прав для просмотра и редактирования кармы.
          .slide
            %img{:src => "/img/redmine_karma_police/3.png", :alt => "Новое меню для просмотра и изменения кармы"}
            %p
              %span.line Новое меню приложения для просмотра и изменения кармы пользователей.
        %p
          %span.line Ruby, Ruby on Rails, RSpec, ActiveRecord. Выпущено по лицензии GPLv2.
        %p
          %a{:href => "https://github.com/nettsundere/redmine_karma_police"}
            Исходный код &laquo;Redmine Karma Police&raquo;
  %li
    %h2 Приложения для ПК
    %ul
      %li.not_oss
        %h3 Диспетчер подготовки данных
        %p
          %span.line Диспетчер подготовки данных для программного комплекса (дипломный проект).
        %p
          \.NET, WPF, C# 4, NUnit
:javascript
  $(document).ready(function() {
  
    var callback = function() { filter_by_tag(this.id); return false; }
    $("#all").click(callback) 
    $("#oss").click(callback)
    $("#not_oss").click(callback)
     
    filter_by_tag("all")
  });
  
  // Filter based on tag.
  // @param tag - tag to filter by. Can be: "all", "oss", "not_oss"  
  function filter_by_tag(tag) {
    var ajax_active = "ajax_active"
    var fade_in_timeout = 500
    active = $("." + ajax_active)
    active.each(function() { 
      $("#" + this.id).removeClass(ajax_active)
    })
    $("#" + tag).addClass(ajax_active)
  
    if(tag == "all") {
      $("#works li").fadeIn(fade_in_timeout)
      return;
    }
    $("#works .oss, #works .not_oss").hide()
    $("#works ." + tag).fadeIn(fade_in_timeout)
  }
