!!!5
%html
  /
    \                          .   
    \                        .o8   
    \ooo. .oo.    .ooooo.  .o888oo 
    \`888P"Y88b  d88' `88b   888   
    \ 888   888  888ooo888   888   
    \ 888   888  888    .o   888 . 
    \o888o o888o `Y8bod8P'   "888" 
    \                              
    \      Hello! Привет!                          
    \                              
    \    .                                          .o8                               
    \  .o8                                         "888                               
    \.o888oo  .oooo.o oooo  oooo  ooo. .oo.    .oooo888   .ooooo.  oooo d8b  .ooooo.  
    \  888   d88(  "8 `888  `888  `888P"Y88b  d88' `888  d88' `88b `888""8P d88' `88b 
    \  888   `"Y88b.   888   888   888   888  888   888  888ooo888  888     888ooo888 
    \  888 . o.  )88b  888   888   888   888  888   888  888    .o  888     888    .o 
    \  "888" 8""888P'  `V88V"V8P' o888o o888o `Y8bod88P" `Y8bod8P' d888b    `Y8bod8P'
  %head
    %meta{:"http-equiv" => "Content-type", :content => "text/html; charset=UTF-8"}
    %meta{:name => "description", :content => @description}
    %meta{:name => "keywords", :content => @keywords} 
    %title
      nettsundere, 
      =@title
   
    -# Google analytics.
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27515313-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    -# '
   
    -# Hacks.
    /[if lt IE 9]
      %script{:src => "//html5shiv.googlecode.com/svn/trunk/html5.js"}
    
    -# Google fonts.
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=cyrillic",
      :rel => "stylesheet", :type => "text/css"}
    
    -# Scripts.
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js", :type => "text/javascript"}
      
    -# CSS.
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/main.css"}
   
  %body
    .wrapper
      %header
        .links
          =a_if_not(:main, "Кратко", :href => "/")
          =a_if_not(:works, "Работы", :href => "/работы")
          =a_if_not(:cv, "Резюме", :href => "/резюме")
          =a_if_not(:contacts, "Контакты", :href => "/контакты")
      .content
        = render(:haml, "partials/_#{@page}".intern)
      .push
    %footer
      .made_by
        %p Сделано в России
        %a{:href => "http://rue-m.ru"}
          http://rue-m.ru
