html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  
  background: #fff;
  color: #444;
  
  font: 0.9em/1.5em Arial, Helvetica, sans-serif;
}

a {
  color: #44F;
}

a:visited {
  color: #959;
}

a:hover {
  color: #944;
}

header {
  height: 4em;
  padding-left: 2em;
  background: no-repeat url("/img/top.png");
}

.ajax_menu a
{
  color: #44f;
  margin-right: 0.5em;
  text-decoration: none;
  border-bottom: 1px dotted #44f;
}

.ajax_active {
  border-bottom: 0px !important;
  font-weight: bold;
}

.links {
  font: 1.5em/1.5em "PT Sans Narrow", sans-serif;
  padding-top: 1.5em;
}

.links a, .current {
  margin: 0em 0.5em 0.5em 0em;
}

.current{
  font-weight: bold;
  color: #333; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans Narrow", sans-serif;
  padding: 0em 1em 0em 0em;
}

h1 {
  font-size: 1.9em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

li {
  margin-left: 1em;
}

ul, ol {
  padding-left: 0.45em;
}


.oss h3 {
  color: #252;
}

.not_oss h3
{
  color: #522;
}

.slides {
  
}

.slide {
  background: #eee;
  float: left;
  padding: 1em;
  margin: 1em 0em;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0px auto -12em;
}

.content {
  width: 70%;
  padding: 2em;
}

.line { 
  display: inline-block;
  white-space: nowrap;
}

.push, footer {
  height: 12em;
}

footer {
  text-align: center;
}

.made_by p {
  font-style: italic;
  margin: 0px;
  padding: 3.5em 0em 0em 0em;
}

.made_by {
  font-size: 0.9em;
  margin: 0em auto;
  width: 10em;
  height: 10em;
  background: #333;
  border-radius: 5em; 
  color: #eee;
}

.made_by a {
  color: #99f
}
