<p class="commit">
  <% 
    var message = obj.commit.message 
    var added = "[+" + obj.commit.additions + "]"
    var removed = "[-" + obj.commit.deletions + "]"
    var message_with_changes = added + " " + message + " " + removed
  %>
  <% if(obj.repository.source == "github") { %>
    <%
      var github_commit_path = "https://github.com/:owner/:name/commit/:scmid"
      var this_commit_url = github_commit_path.replace(/:owner/, obj.repository.owner).replace(/:name/, obj.repository.name).replace(/:scmid/, obj.commit.scmid)
    %>
    <a href="<%= this_commit_url %>">
      <%= message_with_changes %>
    </a>
  <% } else { %>
    <%= message_with_changes %>
  <% } %>
</p>
